.this-time{
	background: rgb(248, 220, 225);
	padding: 1%;
	margin: 1%;
}

.last-time{
	background: rgb(245, 255, 101);
	padding: 1%;
	margin: 1%;
}

.self-1{
	background: #ffe5ff;
}

.self-2{
	background: #e5ffe5;
}

.self-3{
	background: #fff2e5;
}

.peer-eval{
	background: #ffe5e5;
}

/* 登録ボタン */
.submit-button {
	font-size: 1.5em;
	width: 100%;
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #ff7c5c;/*左線*/
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

/* 表の追尾 */
.sticky {
    position: -webkit-sticky; /* Safari用 */
    position:sticky; /* 要素をスクロールに応じて固定 */
    top:0; /* 縦スクロールに追従 */
	z-index: 100; /* z-indexで最前面に持ってくる */
	top: 5%;
	background-color: white;
}

.thead {
	background: #f8f8f8;
}